*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 1900px;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "my-header"
    "my-nav"
    "my-main"
    "my-footer";
    grid-template-rows: 200px 50px 1fr 100px;
}

/***HEADER***/
.div_cabecera{
    grid-area: my-header;
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.img_cabecera{
    width: 100%;
}

/**** NAV *****/
/*Estilo del "div" contenedor de todos los enlaces*/
.cabecera_enlaces{
    grid-area: my-nav;
    width: 100%;        
    height: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    column-gap: 30px;
    padding-left: 10px;
    background-color: rgb(68, 68, 193);
    }

/*Estilo del "div" del enlace del menú*/
@font-face {
    font-family: "Paytone One";
    src: url(./Paytone_One/PaytoneOne-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
} 

/*DIV contenedor del enlace*/
.menu{
    width: auto;
    margin-left: 10px;
    font-size: 25px;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    }

/*Estilo de los enlaces del menú*/
.enlaces{
        text-decoration: none;
        color: aquamarine;
    }

/*Estilo del ENLACE ACTUAL del menú*/
.enlace_actual{
    background-color: aquamarine;
    color: rgb(68, 68, 193);
    width: auto;
    margin-left: 10px;
    font-size: 25px;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none; 
}

/***MAIN***/
/*Estilo del div del 1º SECTION*/
main{
    grid-area: my-main;
    display: flex;
    flex-direction: column;
}

section{
    margin: 20px;
}

h2{
    font-size: 40px;
    color: blue;
    font-family: "Paytone One", sans-serif;
    padding-bottom: 20px;
}

h3{
    font-size: 30px;
    color:darkorange;
    font-family: "Monserrat", sans-serif;
    padding-bottom: 20px;
}

/* Foto de la presentación en INDEX*/
.foto1{
    float: left;
    padding-right: 20px;
    height: 600px;
    width: 612px;
}

p{
    font-size: 25px;
    color: blue;
    font-family: "Montserrat";
}

/*** PORTFOLIO/GALERIA ***/
.div_galeria{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.img{
    border-radius: 20px;
    padding-bottom: 30px;
    object-fit: cover;
}

/*** PRESUPUESTO ***/
/*Grid para el formulario en general*/
.grid{
    display: grid;;    
    grid-template-rows: 120px 200px;
    grid-template-columns: 100px 400px; 
    margin-bottom: 10px;
}

.itemA{
    grid-column: 1 / 3;
    margin-top: 10px;
    font-size: 15px;
}

textarea{
    width: 100%;
 }

/*Flex para la celda de datos del formulario (Nombre, Teléfono, etc)*/
.lineas_div{
    display: flex;
    flex-direction: column; 
    row-gap: 20px;
}

/*Formato del texto de datos del formulario*/
.dato{
    font-family: "Monserrat", sans-serif;
    font-size: 20px;
    color: darkorange;
}

.input_campo{
    width: 100%;
    height: 25px;
 }

.input_check{
  margin-right: 5px;
  width: 17px;
  height: 17px; 
}

.politicas{
  font-family: "Monserrat", sans-serif;
  font-size: 20px;
  color: blue;
  margin-bottom: 20px;
}

.button{
    width: 90px;
    height: 30px;
    font-size: 17px;
}

/****CONTACTO****/
.contenido{
    height: auto;
    width: 100%;
    display: flex;
}

ul{
    list-style-position: inside;
}

ul li a{
    text-decoration: none;
}

.texto_contacto{
    font-size: 25px;
    margin-right: 80px;
    color: darkorange;
    font-family: "Montserrat";
}

/***FOOTER***/
footer{
    display: flex;
    grid-area: my-footer;
    align-items: center;
    background-color: blue;
    margin-top: 30px;
    padding-left: 20px;
    width: 100%;
    height: 100px;
}

.redes{
    float: left;
}

a img {
    width: 50px;
    height: 50px; 
    margin-left: 20px;
    border-radius: 10px;
}

.texto_footer{
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

footer p{
    font-size: 40px;
    color: white;
    font-family: "Paytone One";

}