<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solcitos Eventos - Contacto</title>
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="icon" href="./../images/solcitos_png.png" type="image/png" >
</head>
<body>
    <header>
        <!--Imágen cabecera-->
        <div class="div_cabecera"><img class="img_cabecera" src="./../images/solcito_banner.jpg" alt="solcitos eventos" width="1883" height="200"></div>
        <!--Menú enlaces-->
        <nav>
            <div class="cabecera_enlaces">
                <div class="menu">
                    <a class="enlaces" href="./../index.html">Inicio</a>
                </div>
                <div class="menu">
                    <a class="enlaces" href="./portfolio.html">Galería</a>
                </div>
                <div class="menu">
                    <a class="enlaces" href="./presupuesto.html">Presupuesto</a>
                </div>
                <div class="menu">
                    <a class="enlace_actual" href="./contacto.html">Contacto</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
        <h2>Contacto</h2>
        
        <div class="contenido">
            <ul class="texto_contacto">
                    <li>Dirección: <a href="https://maps.app.goo.gl/Vin1sC9VRMsir2Rr6" target="_blank">Brasil, 17, Alicante (CP 03008)</a></li>
                    <li>E-mail: <a href="mailto:solcitoeventos@gmail.com">solcitoeventos@gmail.com</a></li>
                    <li>Móvil: 664452641</li>
            </ul>
                <img width="800" height="700" src="./../images/Mapa.jpg" alt="ubicación_del_sitio">
            </div>
        </section>
    </main>
    <footer>
        <div class="redes">
            <a href="https://www.instagram.com" target="_blank"><img src="./../images/ig_logo_png.png" alt="Instagram" width="70" height="56"></a>
            <a href="https://www.Facebook.com" target="_blank"><img src="./../images/fb_logo.png" alt="Facebook" width="70" height="56"></a>    
        </div>
        <div class="texto_footer">
            <p>SOLCITOS EVENTOS - ALICANTE</p>
        </div>
    </footer>
</body>
</html>