<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solcitos Eventos - Galería</title>
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="icon" href="./../images/solcitos_png.png" type="image/png" >
</head>
<body>
    <header>
        <!--Imágen cabecera-->
        <div class="div_cabecera">
            <img class="img_cabecera" src="./../images/solcito_banner.jpg" alt="solcitos eventos" width="1883" height="200">
        </div>

        <!--Menú enlaces-->
        <nav>
            <div class="cabecera_enlaces">
                <div class="menu">
                    <a class="enlaces" href="./../index.html">Inicio</a>
                </div>
                <div class="menu">
                    <a class="enlace_actual"  href="./portfolio.html">Galería</a>
                </div>
                <div class="menu">
                    <a class="enlaces" href="./presupuesto.html">Presupuesto</a>
                </div>
                <div class="menu">
                    <a class="enlaces" href="./contacto.html">Contacto</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <h2>Galería</h2>
            <div class="div_galeria">
                <img class="img" src="./../images/Foto2.jfif" alt="solcitos_eventos" height="600" width="600">
                <img class="img" src="./../images/Foto3.jfif" alt="solcitos_eventos" height="600" width="600">
                <img class="img" src="./../images/solcitoENTERO.jpg" alt="solcitos_eventos" height="600" width="600">
                <img class="img" src="./../images/Foto8.jpeg" alt="solcitos_eventos" height="600" width="600">
                <img class="img" src="./../images/Foto4.jpeg" alt="solcitos_eventos" height="600" width="600">
                <img class="img" src="./../images/Foto6.jpeg" alt="solcitos_eventos" height="600" width="600">
                <img class="img" src="./../images/Foto7.jpeg" alt="solcitos_eventos" height="600" width="600">
            </div>
                
        </section>
    </main>
    <footer>
        <div class="redes">
            <a href="https://www.instagram.com" target="_blank"><img src="./../images/ig_logo_png.png" alt="Instagram" width="70" height="56"></a>
            <a href="https://www.Facebook.com" target="_blank"><img src="./../images/fb_logo.png" alt="Facebook" width="70" height="56"></a>    
        </div>
        <div class="texto_footer">
            <p>SOLCITOS EVENTOS - ALICANTE</p>
        </div>
    </footer>
</body>
</html>