<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solcitos Eventos - Galería</title>
    <link rel="stylesheet" href="./../css/estilosPortfolio.css">
    <link rel="icon" href="./../images/solcitos_png.png" type="image/png" >
</head>
<body>
    <header>
        <!--Imágen cabecera-->
        <div><img class="imagenCabecera" src="./../images/solcito_banner.jpg" alt="solcitos eventos"></div>
        <!--Menú enlaces-->
        <nav>
            <div class="cabecera_enlaces">
                <div class="menu">
                    <a class="enlaces" href="./../index.html">Inicio</a>
                </div>
                <div class="menu">
                    <a class="enlace_actual"  href="./portfolio.html">Galería</a>
                </div>
                <div class="menu">
                    <a class="enlaces" href="./presupuesto.html">Presupuesto</a>
                </div>
                <div class="menu">
                    <a class="enlaces" href="./contacto.html">Contacto</a>
                </div>
            </div>
        </nav>
    </header>
    
    <section>
       <h1>Galería</h1>
       <div class="grid">
            <img class="img" src="./../images/Foto2.jfif" alt="solcitos_eventos">
            <img class="img" src="./../images/Foto3.jfif" alt="solcitos_eventos">
            <img class="img" src="./../images/solcitoENTERO.jpg" alt="solcitos_eventos">
            <img class="img" src="./../images/Foto8.jpeg" alt="solcitos_eventos">
            <img class="img" src="./../images/Foto4.jpeg" alt="solcitos_eventos">
            <img class="img" src="./../images/Foto6.jpeg" alt="solcitos_eventos">
            <img class="img" src="./../images/Foto7.jpeg" alt="solcitos_eventos">
       </div>
    </section>
    <footer>
        <div class="redes">
            <a href="https://www.instagram.com" target="_blank"><img src="./../images/ig_logo_png.png" alt="Instagram"></a>
            <a href="https://www.Facebook.com" target="_blank"><img src="./../images/fb_logo.png" alt="Facebook"></a>    
        </div>
        <div class="texto_footer"><p>SOLCITOS EVENTOS - ALICANTE</p></div>
    </footer>
</body>
</html>