<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solcitos Eventos - Presupuesto</title>
    <link rel="stylesheet" href="./../css/estilos.css">
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header>
        <!--Imágen cabecera-->
        <div class="div_cabecera">
            <div class="logo_cabecera">
                <img class="img_cabecera" src="../images/solcitos.jpg" alt="solcitos eventos" width="625" height="650">
                <h1>solcitos eventos</h1>
            </div>
            
            <div class="cabecera_contacto">
                <ul>
                    <li>
                        <a class="enlace_header" href="https://wa.me/34664452641" target="_blank">
                            <span class="enlace-texto">664452641</span>
                        </a>
                        <img class="iconos" src="../images/iconos/whatsapp.svg" alt="telefono Solcitos Eventos" width="30" height="30">
                    </li>
                    <li>
                        <a class="enlace_header" href="mailto:solcitoseventos@gmail.com" target="_blank">
                            <span class="enlace-texto">solcitoseventos@gmail.com</span>
                        </a>
                        <img class="iconos" src="../images/iconos/email.svg" alt="email Solcitos Eventos" width="30" height="30">
                    </li>
                    <li> 
                        <a class="enlace_header" href="https://www.instagram.com/solcitos.eventos" target="_blank">
                            <span class="enlace-texto">solcitos eventos</span>
                        </a>
                        <img class="iconos" src="../images/iconos/instagram.svg" alt="Instagram Solcitos Eventos" width="70" height="56">
                    </li>
                </ul>
            </div>
        </div>
        <!--Menú enlaces-->
        <nav>
            <ul class="cabecera_enlaces">
                <li class="enlace_container">
                    <a class="enlace" href="../index.html">Inicio</a>
                </li>
                <li class="enlace_container">
                    <a class="enlace" href="./portfolio.html">Galería</a>
                </li>
                <li class="enlace_container">
                    <a class="enlace actual" href="./presupuesto.html">Presupuesto</a>
                </li>
                <li class="enlace_container">
                    <a class="enlace" href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>    
        <section>
            <h2>Presupuesto</h2>

            <form>
                <div class="dato">
                    <label class="label" for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="name" placeholder="Ingrese su nombre" required>                
                </div>
                <div class="dato">
                    <label class="label" for="telefono">Teléfono:</label>
                    <input type="tel" name="telefono" id="telefono" placeholder="Ingrese su teléfono" required>                
                </div>                
                <div class="dato">
                    <label class="label" for="email">Email:</label>
                    <input type="text" name="email" id="email" placeholder="Ingrese su email" required>                
                </div>
                <div class="dato">
                    <textarea name="texto" placeholder="Solicite más información." required></textarea>               
                </div>
                <div class="politicas">
                    <span><input class="input_check" type="checkbox" name="politicas" required>Acepto las políticas de privacidad.</span>
                </div>
                <input class="button" type="submit" name="enviar" value="Enviar">
            </form>
        </section>
    </main>
    <footer>
        <div class="footer_contenedor">
            <div class="footer_contacto">
                <ul>
                    <li>
                        <a href="https://wa.me/34664452641" target="_blank">                        
                            <img class="iconos" src="../images/iconos/whatsapp.svg" alt="telefono Solcitos Eventos"
                            width="30" height="30">
                        </a>
                        <span class="footer_contacto_span">664452641</span>
                    </li>
                    <li>
                        <a href="mailto:solcitoseventos@gmail.com" target="_blank">
                            <img class="iconos" src="../images/iconos/email.svg" alt="email Solcitos Eventos" width="30"
                            height="30">
                        </a>
                        <span class="footer_contacto_span">solcitoseventos@gmail.com</span>
                    </li>
                </ul>
            </div>
            <div class="footer_logo">
                <img src="../images/solcitos.jpg" alt="solcitos eventos" width="625" height="650">
                <p>solcitos eventos</p>
            </div>
            <div class="footer_redes">
                <a href="https://www.instagram.com/solcitos.eventos" target="_blank">
                    <img src="../images/iconos/instagram.svg" alt="Instagram Solcitos Eventos" width="70" height="56">
                </a>
                <a href="https://www.Facebook.com" target="_blank">
                    <img src="../images/iconos/facebook.svg" alt="Facebook" width="70" height="56">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
